#
# Date: 2017-06-04
#
[Unit]
Description=Dartmoor service
After=network.target

[Service]
Type=oneshot
PIDFile=/var/opt/drtm/run/drtm.pid
ExecStart=/opt/drtm/sbin/drtm start
ExecStop=/opt/drtm/sbin/drtm stop

[Install]
WantedBy=multi-user.target
