#
# Date: 2017-06-04
#
[Unit]
Description=Dartmoor service
After=network-online.target

[Service]
PIDFile=/var/opt/drtm/run/drtm.pid
KillMode=process
TimeoutSec=5
ExecStart=/opt/drtm/sbin/drtm start
ExecStop=/opt/drtm/sbin/drtm stop

[Install]
WantedBy=multi-user.target
