#
# Install as: /etc/systemd/system/pmph.service
#
[Unit]
Description=Pamphlet
After=network-online.target

[Service]
TimeoutStartSec=120
ExecStart=/usr/bin/java -Djava.security.egd=file:/dev/urandom -jar /opt/pmph/lib/pmph-client-1.0.jar

[Install]
WantedBy=multi-user.target
