#
# Install as: /etc/systemd/system/pmph.service
#
[Unit]
Description=Pamphlet
After=network-online.target

[Service]
ExecStart=/usr/bin/java -jar /opt/pmph/lib/pmph-client-0.0.jar

[Install]
WantedBy=multi-user.target
